h2 {
  padding-top: 15px;
  padding-bottom: 5px;
  color: rgb(0, 132, 132);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

article {
  background-color: rgb(255, 237, 214);
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 15px;
  padding-top: 5px;
  width: 400px;
  margin: 20px;
}
button {
  color: rgb(2, 124, 124);
  border-radius: 1px;
  border-color: rgb(17, 124, 124);
  background-color: rgb(197, 212, 227);
}
button:hover {
  background-color: rgb(176, 251, 248);
  cursor: grab;
}

p {
  font-size: large;
  font-weight: 300;
  color: rgb(1, 66, 66);
  padding-top: 10px;
  font-family: "Times New Roman", Times, serif;
}
